@import "bootstrap/bootstrap.scss";
@import "bootstrap/bootstrap-grid.scss";
@import "bootstrap/bootstrap-reboot.scss";
@import "variables";
@import "footer";

html {
  background: #f5f5f5;
}

body {
  position: relative;

  > .container {
    padding-top: 60px;
  }
  padding-bottom: 80px;
}